<div class="wear-container">
  <div class="wear-top">
    <p>top</p>
    <button class="start">START</button>
    <button class="stop">STOP</button>
    <div class="roulette-wrap">
      <div class="roulette">
        <img src="http://lorempixel.com/128/128/cats/">
        <img src="http://lorempixel.com/128/128/food/">
        <img src="http://lorempixel.com/128/128/nature/">
        <img src="http://lorempixel.com/128/128/business/">
        <img src="http://lorempixel.com/128/128/nightlife/">
      </div>
    </div>

<!--     <div class="roulette" style="overflow: hidden; height: 128px;">
      <div class="roulette-inner" style="position: relative; top: 0px; transform: translate(0px, -512px);">
      </div>
    </div> -->
  </div>
  <div class="wear-bottom">
    <p>bottom</p>
  </div>
  <div class="wear-footwear">
    <p>footwear</p>
  </div>
</div>


<!-- <h1 class="title">What should I ... ?</h1>

<h4 class="left-choice">LEFT: eat</h4>
<h4 class="right-choice">RIGHT: wear</h4>
 -->
