<div class="wear-container">
  <ion-slide-box delegate-handle="top-box" show-pager="false" does-continue="true">
    <ion-slide class="top-slide">
      <img src="http://lorempixel.com/128/128/cats/">
    </ion-slide>
    <ion-slide class="top-slide">
      <img src="http://lorempixel.com/128/128/food/">
    </ion-slide>
    <ion-slide class="top-slide">
      <img src="http://lorempixel.com/128/128/nature/">
    </ion-slide>
  </ion-slide-box>

  <ion-slide-box delegate-handle="bottom-box" show-pager="false" does-continue="true">
    <ion-slide class="bottom-slide">
      <img src="http://lorempixel.com/128/128/cats/">
    </ion-slide>
    <ion-slide class="bottom-slide">
      <img src="http://lorempixel.com/128/128/food/">
    </ion-slide>
    <ion-slide class="bottom-slide">
      <img src="http://lorempixel.com/128/128/nature/">
    </ion-slide>
  </ion-slide-box>

  <ion-slide-box delegate-handle="footwear-box" show-pager="false" does-continue="true">
    <ion-slide class="footwear-slide">
      <img src="http://lorempixel.com/128/128/cats/">
    </ion-slide>
    <ion-slide class="footwear-slide">
      <img src="http://lorempixel.com/128/128/food/">
    </ion-slide>
    <ion-slide class="footwear-slide">
      <img src="http://lorempixel.com/128/128/nature/">
    </ion-slide>
  </ion-slide-box>
</div>

<div class="stop_roulette" on-tap="data.choose(data.userChoice)"></div>

<div class="start-over" ng-include="'./templates/partials/_home_button.html'"></div>