<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Working Name</title>

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.mobile.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>

  <body ng-app="ionicApp" animation="slide-left-right-ios7">

    <ion-nav-view></ion-nav-view>

    <script  id="firstSlide.html" type="text/ng-template">
      <div ng-include="'./templates/firstSlide.html'"></div>
    </script>

    <script id="firstSlide.html" type="text/ng-template">
      <h1>What should I ... ?</h1>

      <h4>LEFT: eat</h4>
      <h4>RIGHT: wear</h4>

      <button class="button button-assertive" ng-click="showBonus()" ng-if="data.initialInstruction">Show Bonus Slide</button>
      <p class="padding" ng-if="data.initialInstruction">Notice at first there are only 3 slides</p>
      <p class="padding" ng-if="data.secondInstruction">Now there are 4 slides</p>
    </script>

    <script id="secondSlide.html" type="text/ng-template">
      <h1>What should I wear?</h1>

      <h4>LEFT: Business</h4>
      <h4>RIGHT: Hot Date</h4>
    </script>

    <script id="bonusSlide.html" type="text/ng-template">
      <h1>Bonus Slide!</h1>
    </script>

    <script id="thirdSlide.html" type="text/ng-template">
      <h1>What should I wear?</h1>
      <h3>Business</h3>
      <br>

      <h4>LEFT: Black</h4>
      <h4>RIGHT: Blue</h4>
    </script>

    <script id="fourthSlide.html" type="text/ng-template">
      <h1>What should I wear?</h1>
      <h3>Business</h3>
      <h3>Black</h3>
      <br>

      <h4>LEFT: Long</h4>
      <h4>RIGHT: No Length</h4>
    </script>

    <script id="fifthSlide.html" type="text/ng-template">
      <h1>You should wear: Slacks</h1>
      <h3>Business</h3>
      <h3>Black</h3>
      <h3>Long</h3>
    </script>

    <script id="intro.html" type="text/ng-template">
      <ion-view title="Dynamic Slides">
        <ion-slide-box ng-init="disableSwipe()">

          <ion-slide ng-repeat="slide in data.slides | filter:{viewable : true}" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
            <div ng-include src="slide.template"></div>
          </ion-slide>

        </ion-slide-box>
      </ion-view>
    </script>

    <script id="main.html" type="text/ng-template">
      <ion-view hide-back-button="true" title="Awesome">
        <ion-content padding="true">
          <h1>Main app here</h1>
          <button class="button" ng-click="toIntro()">Do Tutorial Again</button>
        </ion-content>
      </ion-view>
    </script>

  </body>
</html>
